<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bookmark</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1300a9; font-size: 20px">
        <a class="navbar-brand" href="#" style="font-size: 25px;">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Signin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header">
        <div class="title-card">
            <div style="width: 50%; height: inherit; float: left; background-color: #f85f7b">

            </div>
            <div style="width: 50%; height: inherit; float: right; padding-top: 20px; position: relative; top: 0px; background-color: white;">
                <h1 style="float: left; margin-left: 2%">Bookmarks made easier</h1>
                <p style="float: left; margin-left: 2%; font-size: 2rem">At Bookmark co. we are dedicated to making
                    bookmarking easier</p>
                <a href="/register" class="btn btn-primary" style="padding: 10px 20px; margin-left: 10px; margin-top: 20%; font-size: 20px;">Register >></a>
            </div>
        </div>
    </div>

</body>

</html>